<div ng-controller="LeaveLogController as vm">

    <style>
        #roundedcorner {
            margin: auto;
            border-radius: 25px;
            border: 2px solid #000000;
            padding: 20px;
            width: 450px;
            height: 1200px;
        }

        label {
            margin-left: 5px;
        }

        .form-control {
            margin-left: 5px;
            width: 300px;
        }

        #updatebutton {
        }
    </style>

    <div id="edit" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="roundedcorner">
                <form class="form-horizontal" id="edit-form">
                    <div class="modal-header">
                        <h4 class="modal-title" id="edit-modal-label">Update LeaveLog</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="addleavelogID">LeaveLog ID</label>
                            <input type="number" class="form-control" id="addleavelogID" name="LeaveLogID" ng-model="LeaveLogID" readonly>
                        </div>


                        <div class="form-group">
                            <label for="addStartDate">Start Date</label>
                            <input type="datetime-local" class="form-control" id="addStartDate" name="StartDate" ng-model="StartDate" required>
                        </div>

                        <div class="form-group">
                            <label for="addEndDate">End Date</label>
                            <input type="datetime-local" class="form-control" id="addEndDate" name="EndDate" ng-model="EndDate" required>
                        </div>

                        <div class="form-group">
                            <label for="addLeaveType">Leave Type</label>
                            <select id="addLeaveType" class="form-control" name="LeaveType" ng-model="LeaveType" required>
                                <option value="">-- Select leave type -- </option>
                                <option value="Full Leave">Full Leave</option>
                                <option value="Half Leave">Half Leave</option>
                                <option value="Combined Leave">Combined Leave</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="addLeaveReason">Leave Reason</label>
                            <textarea class="form-control" id="addLeaveReason" name="LeaveReason" placeholder="LeaveReason" ng-model="LeaveReason" rows="4" required>
                    </textarea>
                        </div>

                        <div class="form-group">
                            <label for="addRequestedBy">Requested By</label>
                            <select id="addRequestedBy" class="form-control" name="addRequestedBy" ng-options="Employee.id as Employee.name for Employee in EmployeeList" ng-model="EmployeeID">
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="addLeaveStatus">Leave Status</label>
                            <input type="text" id="addLeaveStatus" class="form-control" name="LeaveStatus" placeholder="LeaveStatus" ng-model="LeaveStatus" required><br />
                        </div>

                        <div class="form-group">
                            <label for="addApprovedBy">Approved By</label>
                            <input type="number" class="form-control" id="addApprovedBy" name="ApprovedBy" placeholder="ApprovedBy" ng-model="ApprovedBy" required>
                        </div>

                        <div class="form-group">
                            <label for="addApprovedDate">Approved Date</label>
                            <input type="datetime-local" class="form-control" id="addApprovedDate" name="ApprovedDate" ng-model="ApprovedDate" required>
                        </div>


                    </div>

                    <div class="updatebutton">
                        <hr />
                        <button type="button" class="btn btn-default" ng-click="Close()">Close</button>
                        <button type="submit" class="btn btn-primary" ng-click="Update()">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>